	<div class="bandeau">

		<!-- Affichage deux logo-->
    		<a href="index.html.twig"><img src="{{ asset('bundles/public/images/billbot.png') }}" id="blogo" alt="Logo Billbot" /></a>
    		<a href="billbot.html.twig"><img src="{{ asset('bundles/public/images/logouniv.jpg') }}" id="univlogo" alt="Logo Billbot" /></a>

		<!-- Nav + DropDown -->
		<nav>
			<a href="{{ path('home') }}" class="active">  <i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i> Accueil</a>
			<a href="{{ path('projet') }}">Projet Biilbot</a>
			<a href="{{ path('about') }}">Qui sommes-nous ?</a>
		</nav>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Menu <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="index.html.twig" class="active">Accueil</a></li>
				<li><a href="projet.html.twig">Projet Biilbot</a></li>
				<li><a href=#>Qui sommes-nous ?</a></li>
			</ul>
		</div>

	</div>
